@charset "UTF-8";
body a {
  text-decoration: none;
  color: #666; }
  body a:hover {
    text-decoration: none; }

#top {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #F5F5F5;
  border-bottom: 1px solid #EEE; }
  #top .wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
    #top .wrapper::after {
      content: "";
      display: block;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      clear: both; }
  #top .region {
    height: 35px;
    line-height: 35px;
    padding: 0 6px;
    margin-right: 5px;
    float: left; }
  #top .top_left {
    float: left; }
    #top .top_left::after {
      content: "";
      display: block;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      clear: both; }
  #top .user {
    float: left;
    position: relative; }
  #top .top_left > a {
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 7px; }
    #top .top_left > a:hover {
      color: #f40; }
  #top .top_right {
    float: right; }
    #top .top_right .navlist::after {
      content: "";
      display: block;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      clear: both; }
    #top .top_right .navlist i {
      font-size: 12px; }
    #top .top_right .navlist > a {
      display: block;
      width: 100%;
      height: 100%; }
    #top .top_right .navlist > li {
      float: left;
      padding: 0 6px;
      height: 35px;
      line-height: 35px; }
  #top .user_manage {
    display: none;
    width: 248px;
    position: absolute;
    left: 93px;
    top: 35px;
    z-index: 200;
    padding: 8px;
    line-height: normal;
    border: 1px solid #EEE;
    border-top: 0;
    background: #FFF; }
    #top .user_manage img {
      width: 56px;
      height: 56px; }
    #top .user_manage p {
      height: 20px;
      line-height: 20px;
      overflow: hidden;
      margin-top: 3px; }
  #top .user_close {
    text-align: right; }
    #top .user_close a {
      display: inline-block;
      margin-right: 10px; }
  #top .user_pic {
    float: left;
    margin-right: 10px;
    margin-left: 9px;
    width: 62px;
    height: 62px;
    padding: 9px;
    box-sizing: content-box; }
    #top .user_pic a {
      display: block;
      overflow: hidden;
      border: 3px solid #fff;
      border-radius: 50%; }
  #top .user_info {
    float: left;
    height: 80px;
    overflow: hidden;
    width: 148px; }
  #top .user_qy {
    width: 248px;
    height: 25px;
    float: left;
    text-align: center;
    border: 1px solid #FFE8DE;
    background: #FFF0E8;
    padding: 4px 0;
    box-sizing: border-box; }

.top_nav {
  width: 1188px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 36px;
  min-height: 258px;
  border: 1px solid #eee;
  background: #fff;
  padding-bottom: 10px;
  z-index: 10000;
  /*  主题市场部分   */ }
  .top_nav .nav_sec {
    padding: 5px;
    border-right: 1px solid #eee;
    overflow: hidden;
    float: left;
    width: 25%;
    box-sizing: border-box; }
    .top_nav .nav_sec h4 {
      margin: 5px;
      font-size: 16px;
      font-weight: 600;
      overflow: hidden; }
    .top_nav .nav_sec li {
      float: left;
      padding-top: 5px;
      height: 25px;
      overflow: hidden; }
      .top_nav .nav_sec li a {
        position: relative;
        float: left;
        height: 25px;
        line-height: 25px;
        margin: 0 2px;
        padding: 0 8px;
        border-radius: 2px;
        text-align: center; }
        .top_nav .nav_sec li a:hover {
          color: #fff; }
  .top_nav .ztsc li {
    width: 24%; }
    .top_nav .ztsc li a:hover {
      background: #fc4200; }
  .top_nav .tesc li {
    width: 33%; }
    .top_nav .tesc li a:hover {
      background: #9fb838; }
  .top_nav .alapp li {
    width: 33%; }
    .top_nav .alapp li a:hover {
      background: #d75696; }
  .top_nav .jctj li {
    width: 50%; }
    .top_nav .jctj li a:hover {
      background: #2e9fdb; }
  .top_nav .hot {
    position: absolute;
    top: -5px;
    right: 0;
    display: block;
    width: 9px;
    height: 14px;
    overflow: hidden;
    background: url(http://img.alicdn.com/tps/i2/T1hOy5XhNnXXXXXXXX-9-14.gif) no-repeat; }
  .top_nav .new {
    position: absolute;
    top: -5px;
    right: 0;
    display: block;
    width: 9px;
    height: 14px;
    overflow: hidden;
    background: url(https://img.alicdn.com/tps/i3/T1lni5XhXXXXXXXXXX-9-14.gif) no-repeat; }

/*  top  的 二级导航栏部分  */
.top_sn_list {
  position: relative;
  z-index: 1000;
  display: none; }
  .top_sn_list ul {
    position: absolute;
    left: -6px;
    top: -1px;
    padding: 8px 0;
    border: 1px solid #EEE;
    border-top: 0;
    background: #FFF; }
    .top_sn_list ul li {
      height: 29px;
      line-height: 29px;
      white-space: nowrap; }
    .top_sn_list ul a {
      display: inline-block;
      width: 100%;
      padding: 0 8px;
      box-sizing: border-box; }
      .top_sn_list ul a:hover {
        background-color: #f4f4f4; }

.region_list ul {
  height: 270px;
  overflow: hidden;
  overflow-y: visible; }
  .region_list ul li {
    width: 242px; }

.gyc {
  position: relative; }

.top_cart {
  display: none; }
  .top_cart ul li {
    width: 296px;
    line-height: 20px;
    min-height: 40px;
    text-align: center; }
    .top_cart ul li p {
      margin-top: 10px; }
    .top_cart ul li span {
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;
      height: 25px;
      line-height: 25px;
      color: #fff;
      background: #f40;
      border-radius: 2px;
      cursor: pointer; }

#content .wrapper {
  width: 1190px;
  margin: 0 auto; }
#content .header {
  position: relative;
  height: 43px;
  padding: 20px 0; }
  #content .header h2 {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;
    vertical-align: middle; }
    #content .header h2 i {
      display: inline-block;
      margin-right: 5px;
      width: 24px;
      height: 24px;
      text-align: center;
      font-style: normal;
      line-height: 24px;
      font-size: 14px;
      font-weight: 700;
      color: #FFF;
      background: url(../images/ico-circle2.png) no-repeat 0 0; }
#content .logo {
  float: left; }
  #content .logo a {
    display: block;
    width: 110px;
    height: 60px;
    position: relative; }
  #content .logo .iconfont {
    display: block;
    color: #ff4001;
    font-size: 36px;
    font-weight: 400; }
  #content .logo .tb-logo-cn {
    position: relative;
    top: -12px; }
  #content .logo .tb-logo-url {
    font-size: 50px;
    position: relative;
    top: -55px; }
#content .rb_header {
  height: 46px;
  border-bottom: 2px solid #e6e6e6;
  position: relative; }
#content .register_box {
  height: 46px;
  border-bottom: 2px solid #e6e6e6;
  position: relative; }
  #content .register_box p {
    color: #3e3e3e;
    width: 300px;
    border-bottom: 2px solid #ff4700;
    text-align: center;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto; }
    #content .register_box p i {
      display: inline-block;
      margin-right: 5px;
      width: 24px;
      height: 24px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      vertical-align: middle;
      position: relative;
      top: -2px;
      color: #FFF;
      background: url(https://assets.alicdn.com/g/vip/register/2.9.7/xcommon/images/ico-circle1.png) no-repeat 0 0; }

.form_box {
  width: 720px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 14px;
  height: auto; }

.form_list_box {
  padding: 10px 0; }
  .form_list_box .form_ex {
    padding: 10px 0 10px 260px;
    line-height: 36px;
    overflow: hidden; }
    .form_list_box .form_ex .form_title {
      font-weight: 700;
      float: left;
      margin-left: -260px;
      width: 240px;
      height: 37px;
      line-height: 37px;
      text-align: right;
      vertical-align: middle; }
    .form_list_box .form_ex .form_hint {
      font-size: 14px; }
  .form_list_box .form_item {
    padding: 10px 0 10px 180px;
    line-height: 36px;
    overflow: hidden;
    position: relative; }
    .form_list_box .form_item::after {
      content: "";
      display: block;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      clear: both; }
    .form_list_box .form_item p {
      float: right; }
  .form_list_box input {
    border: 1px solid #dedede;
    float: left;
    width: 202px;
    height: 17px;
    line-height: 17px;
    padding: 9px;
    font-size: 14px; }
    .form_list_box input:focus {
      outline: 2px solid #84b7fd; }
  .form_list_box .label_left {
    float: left;
    height: 37px;
    line-height: 37px;
    text-align: right;
    width: 60px;
    margin-right: 20px; }
  .form_list_box .label_right {
    float: left;
    margin-left: 20px;
    display: none;
    color: black;
    font-weight: 700; }
  .form_list_box .pass_line {
    padding: 10px 0 10px 0;
    line-height: 36px;
    overflow: hidden; }
  .form_list_box .btn_submit {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background: #ff4001;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    width: 180px; }

.pass_notice {
  position: absolute;
  left: 500px;
  top: -50px;
  background: #dedede;
  padding: 10px;
  display: none; }

.form_notice {
  display: none; }

.form_error {
  font-weight: 700;
  color: #f40; }

#bottom {
  width: 1200px;
  margin: 0 auto;
  height: 170px;
  border-top: 1px solid #ddd;
  margin: 60px auto 0;
  padding: 7px 0 9px; }
  #bottom p {
    padding-bottom: 8px; }
  #bottom .footer_top p {
    line-height: 27px;
    border-bottom: 1px solid #ddd; }
    #bottom .footer_top p a {
      margin: 0 4px; }
    #bottom .footer_top p span {
      display: inline;
      margin: 0 1px;
      color: #9c9c9c;
      font-weight: normal; }
  #bottom .footer_md p a {
    margin: 0 4px; }
  #bottom .footer_md p span {
    display: inline;
    margin: 0 1px;
    color: #9c9c9c;
    font-weight: normal; }
  #bottom .footer_md p i {
    display: inline;
    margin: 0 1px;
    color: #9c9c9c;
    font-weight: normal;
    margin: 0 4px;
    font-style: normal; }

/*# sourceMappingURL=register.css.map */
